<!DOCTYPE html>
<head>
    <title>Story list</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>User stories</h1>

    <table>
      <tr>
        <th>story_id</th>
        <th>Story title</th>
        <th>User story</th>
        <th>Acceptance criteria</th>
        <th>Business value</th>
        <th>Estimation</th>
        <th>Status</th>
      </tr>

        {% for story in stories %}
      <tr>
        <td>{{story.story_id}}</td>
        <td>{{story.story_title}}</td>
        <td>{{story.user_story}}</td>
        <td>{{story.acceptance_criteria}}</td>
        <td>{{story.business_value}}</td>
        <td>{{story.estimation}}</td>
        <td>{{story.status}}</td>
        <td class="listbuttons">
            <a href='/story/{{story.story_id}}'><input type="image"  src="../static/edit_button.png" width="20px" height="20px"></a></td>
        <td class="listbuttons">
            <a href='/delete/{{story.story_id}}'><input type="image" src="../static/delete_button.png" width="20px" height="20px"></a></td>
      </tr>
        {% endfor %}
    </table>
        <a class="create" href='/story'>Create New</a>
</body>
